<h1>Base Angular Shop</h1>

<div class="container" >
  <div class="row">
    <div class="col-2">
      <!-- <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/ngrx">Ngrx</a>
      <a mat-list-item routerLink="/ngclassShop"> NgClass</a>
      <a mat-list-item routerLink="/material"> Material SHop</a> -->
<div class="row">
      <button mat-raised-button color="accent" class="mb-1" routerLink="/home">Home</button>
      <button mat-raised-button color="accent" class="mb-1" routerLink="/ngrx">Ngrx</button>
      <button mat-raised-button color="accent" class="mb-1" routerLink="/ngclassShop">NgClass</button>
      <button mat-raised-button color="accent" class="mb-1" routerLink="/material">Material Shop</button>
    </div>


    </div>

  <div class="col-10">
    <router-outlet></router-outlet>
  </div>

</div>



